table {
    border-collapse: collapse;
    border: none;
    margin-bottom: 20px;
}

tr:not(:first-child) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td span.when {
    font-size: .7em;
}

td {
    padding: 0 5px 5px 5px;
    border: none;
    min-width: 10px;
    height: 65px;
}

td.lesson, tr td:first-child {
    border: 1px solid black;
}

td.hour {
    border-left: 1px dotted gray;
}

td.lesson {
    color: white;
}

table tr:first-child td {
    border: none;
    height: 20px;
}

tr td:last-child {
    border-right: 1px solid black;
}

.edt {
    position: relative; /* allow close button to be relative to this element */
}

.close {
    cursor: pointer;
    float: right
}

.loader_container {
    text-align: center;
}

.hidden {
    display: none;
}

h2 {
    display: inline-block;
    cursor: pointer;
}
